.navigation {
  height: 100px;
  background-color: #1A085E;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: linear-gradient(90deg, rgba(5,2,56,1) 0%, rgba(136,0,255,1) 49%, rgba(24,9,121,1) 78%);
  box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0);
}

.title {
  font-size: 40px;
  font-weight: bolder;
  color: red;
  margin-right: 30px;
  margin: 20px;
  color: #FFFFFF;
background: #333333;
text-shadow: #FFF 0px 0px 5px, #FFF 0px 0px 10px, #FFF 0px 0px 15px, #FF2D95 0px 0px 20px, #FF2D95 0px 0px 30px, #FF2D95 0px 0px 40px, #FF2D95 0px 0px 50px, #FF2D95 0px 0px 75px;

}

.all-movies-btn {
  font-weight: lighter;
  font-size: small;
  margin-left: 20px;
  margin-right: 20px;
  background-color: #1A085E;
  height: 50px;
  width: 100%;
  color: white;
  box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.44);
  border-radius: 5px;
  text-shadow: #FFF 0px 0px 5px, #FFF 0px 0px 10px, #FFF 0px 0px 15px, #FF2D95 0px 0px 20px, #FF2D95 0px 0px 30px, #FF2D95 0px 0px 40px, #FF2D95 0px 0px 50px, #FF2D95 0px 0px 75px;
}

.all-movies-btn:hover{
  cursor: pointer;
}

.nav-buttons {
  width: 25%;
  display: flex;
  justify-content: space-around;
  padding: 20px;
}
