.single-movie {
  display:flex;
  justify-content: space-around;
  align-items: flex-start;
  background-color: black;
  background-size: cover;
  background-repeat: no-repeat;
  background-size: cover;
}

.description-div, .poster-div {
  color: white;
  height: 90vw;
  padding: 40px;
  align-items: flex-start;
  background: black;
  opacity: 0.75;
  width: 50%;
}

.poster-div {
  align-self: flex-start;
  padding-left: 225px;
}

.description-div {
  padding-right: 200px;
  overflow-y: auto;
}

h1 {
  font-size: 32px;
  font-weight: bolder;
}

.average-rating {
  color: red;
  font-size: 20px;
  font-weight: bold;
}

.tagline {
  font-weight: bold;
  font-size: 9px;
}

.runtime {
  font-weight: bold;
}
